@charset "utf-8";
ul{
  max-width: 500px;
  display: flex;
  list-style: none;
  gap: 20px;
  /*justify-contentはflexとgirdの時だけ適用可能*/
  justify-content: space-between;
}
/*横並び同士の余白を取る方法は*/
/*gap: 20px;　　　以外にも*/
/*
li{
  padding-left: 20px;
}
li :first-child{
  padding-left: 0;
}
こういう書き方もある*/

@media screen and (max-width: 767px) {
  ul{
    flex-direction: column;
  }
}