@charset "UTF-8";

.header-contents{
  display: flex;
  align-items: center;
  /* 55/1920=0.028 */
  padding-left: 2.8%;
  /* 142/1920=0.073 */
  padding-right: 7.3%;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}

h1{
  width: 226px;
}

.header-nav ul{
  display: flex;
  gap: 80px;
}

.header-nav li{
  color: white;
  font-weight: bold;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

/* ここから課題部分 */

/*

ユキノ先生へ
PC版のコーディングが課題なのでとりあえずの見た目はできたのですが
SP版のこのも加味して考えると、解決できなかった点が何点かあります。

１.MENU内の h3 で表記しているDrinkなどの文字について
imgとh3,pを同じクラスに指定し
そのクラスをposition: relative;に指定、
h3をposition: absolute;　top: 190px;　left: 10px;という
指定にしたのですが、pxで指定しても%や位置で指定しても
画面サイズを変更するとimgとh3の位置がずれてしまいます。

２.EVENT内 dateとtextに分けたのですが画面を小さくしていくと
重なってしまうところがあります。
こういう場合はメディアクエリなどで設定すればいいのでしょうか？
それとも現段階でもう少し改良した方がいいのでしょうか？

３.全体的な話ですがレスポンシブを考えた時に
コーディングの際に、pxなどの数値で指定したほうが部分と
倍率で指定した方がいいい部分がしっかりとはわかりませんでした。
色々と試して倍率の方が良さそうなところは倍率にしたつもりですが
現段階で変更した方がいいところが他にあったら教えてください。

４.cssの記述順について
チャレンジ課題のFBありがとうございました！
すごく参考になりました！
記述順について以下の順を意識して並び替えました。

フォント系
width height
margin
padding
アルファベット順

よろしくお願いします。

*/

body{
  max-width: 1920px;
}

main{
  padding: 0 10px;
  background-color: #E8D9BF;
}

.main-contents{
  max-width: 1020px;
  margin: auto;
  padding: 0 10px;
}

.title_images{
  text-align: center;
}

.title_images img{
  width: auto;
  height: 78px;
}

/* Main Text */
#Maintext{
  padding: 100px 0 ;
  text-align: center;
}

#Maintext .sub_catchcopy{
  font-size: 30px;
}

#Maintext .catchcopy{
  font-size: 82px;
  line-height: 1.17;
  letter-spacing: 0.1em;
  padding: 55px 0 40px 0;
}

#Maintext .text{
  font-size: 23px;
  line-height: 1.65;
}

/* About us */
#Aboutus{
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}

#Aboutus .images{
  width: 500px;
  height: 560px;
  margin-right: 80px;
  border-radius: 0 0 82px 0;
  object-fit:cover;
}

.Aboutus_text img{
  width: auto;
  height: 78px;
}

.Aboutus_text{
  margin: auto;
}

.Aboutus_text .catchcopy{
  font-size: 44px;
  line-height: 1.38;
  margin: 50px 0 40px 0;
}

.Aboutus_text .text{
  font-size: 16px;
  line-height: 1.625;
}

/* MENU */
#Menu{
  padding-bottom: 100px;
}

#Menu .title_images{
  margin: auto;
  padding-bottom: 45px;
}

.category{
  display: flex;
  gap: 50px
}

.category img{
  margin-bottom: 40px;
  border-radius: 0 42px 0 0;
}

.category h3{
  font-size: 38px;
  font-weight: normal;
  color: #D30202;
}

.category p{
  font-size: 17px;
  line-height: 1.47;
}

.Drink{
  position: relative;
}

.Drink h3{
  position: absolute;
  top: 190px;
  left: 10px;
}

.Food{
  position: relative;
}

.Food h3{
  position: absolute;
  top: 190px;
  left: 10px;

}

.Sweets{
  position: relative;
}

.Sweets h3{
  position: absolute;
  top: 190px;
  left: 10px;
}

/* Gallery */
#Gallery{
  padding-bottom: 70px;
}

#Gallery .title_images{
  padding-bottom: 20px;
}

.gallery_images{
  display: flex;
}

/* Event */
#Event{
  padding-bottom: 70px;
}

#Event .title_images{
  padding-bottom: 40px;
}

.box1{
  padding: 40px 50px;
  background: white;
  border: solid 3.68px #4F260B;
}

.posts{
  margin: auto;
  display: flex;
}

.posts_date{
  width: 20%;
  padding-right: 60px;
}

.posts_text{
  width: 80%;
}

.posts li{
  font-size: 23px;
  line-height: 1.95;
  letter-spacing: 0.1em;
}

/* Access */
#Access .title_images{
  padding-bottom: 40px;
}

/* GoogleMapをダークモードに変更 */

.map {
  width: 100%;
  filter: grayscale(100%) invert(92%) contrast(83%);
	position: relative;
	padding-top: 25%; /* = height ÷ width × 100 */
}

.map iframe {
  width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}


/* Footer */

footer{
  padding: 80px 10px;
  background-color: white;
}

footer p{
  color: black;
}

footer section{
  display: flex;
  justify-content: center;
}

.footer_logo{
  width: auto;
  height: 50px;
  padding-right: 70px;
}

.address p{
  font-size: 20px;
  line-height: 1.95;
  padding-bottom: 80px;
}

.copyright{
  font-size: 16px;
  text-align: center;
}

.pagetop{
  width: 125px;
  height: 125px;
  position:fixed;
  right: 15.5%;
  bottom: 5.3%;
}