@charset "utf-8";

body{
  max-width: 960px;
  background-color: #eeeeee;
  margin: 0 auto;
  }

h1{
  text-align: center;
  margin: 60px;
  color: green;
}

ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service{
  margin: 10px;
  background-color: white;
}

.service h2{
  color: green;
  padding: 10px 10px;
}

.service p{
  padding: 10px;
}

.service img{
  width: 100%;
}

.heading{
  display: flex;
  padding: 10px 10px;
}

.box{
  width: 20px;
  height: 40px;
  background-color: green;
}

@media screen and (max-width: 400px) {
  ul{
    flex-direction: column;
  }